.background {
  padding: 3rem !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 3px 10px 0 rgba(0, 0, 0, 0.2) !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x/-2));
  margin-left: calc(var(--bs-gutter-x/-2));
}

.h2 {
  font-weight: 300 !important;
  font-size: 2rem !important;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.h3 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h4 {
  font-size: 0.85rem;
  color: #757575;
  margin-bottom: 1rem;
}

.h5 {
  text-align: justify;
  font-size: 1rem;
}
