.headerBackground {
  background-image: url("./../../../Images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.textCenter {
  text-align: center !important;
  padding: 3rem !important;
  color: midnightblue !important;
}
.avatar {
  max-width: 25%;
  height: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 0.25rem !important;
  border: 5px solid midnightblue;
}

.headerBio {
  margin-top: 1rem !important;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.headerSocial {
  justify-content: center !important;
  flex-wrap: wrap;
  margin-bottom: 1rem !important;
}

.icon {
  display: inline-block;
  margin-right: 1%;
  font-size: 1.25rem;
  line-height: 1;
  opacity: 0.8;
}

.button {
  margin-left: auto;
  background-color: #16b5ea;
  display: inline-block;
  border-radius: 4px;
  border: 2px solid midnightblue;
  margin-right: 1%;
}
.button:hover {
  background-color: lightblue;
}
