
.avaRow {
  position: relative;
}

.avatar {
  width: 225px
} 

.h7 {
  position: absolute;
  bottom: 3.25rem;
  font-weight: 800
}

.h8 {
  position: absolute;
  bottom: 1.25rem;
  font-size: 0.85rem;
  color: #757575
}